html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Rubik', sans-serif;
}


a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(227, 159, 64);
}


/* Navigation Bar */
.logo {
    height: 2.5vw;
    width: 2.5vw;
    transition: cubic-bezier(0.20, 0, 0.175, 1) 1s;
}

.resume {
    display: inline-block;
    position: relative;
}

.resume:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #030303;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.resume:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


@media screen and (max-width: 1000px) {
    .logo {
        display: none;
    }

    .call {
        display: none;
    }
}


.background-image {
    height: 90%;
    background-image: url('./assets/bg.svg');
    border: 5px solid rgb(227, 159, 64);
    background-color: #ffc3a0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

@media screen and (max-width: 1000px) {
    .background-image {
        background-color: #ffc3a0;
        background-image: none;
    }
}